#repeats {
    width: 5dvh;
}

#selector {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    color: white;
    top: 15dvh;
    transition: 0.2s;
    width: 70dvw;
    padding-top: 0dvh;
}

#selectorA {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    flex-flow: row;
    height: 5dvh;
    width: 120dvh;
    color: white;

}

#selectorG {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    position: relative;
    left: 1dvw;
    bottom: 1dvh;
    padding-inline-end:1dvh;
}

#freeDesc {
    height: 15dvh;
    width: 65dvh;
}

#goalDes {
    border-right: 1px solid rgba(0, 242, 255, 0.493);
    height: 30dvh;
    width: 70dvh;
    margin-top: 0%;
    position: absolute;
    top: 5dvh;
    padding-top:3dvh;
}

.timingG {
    display: flex;
    justify-content:end;
    border: 1px solid rgba(0, 242, 255, 0.493);
    color: white;
    padding-top: 3dvh;
    transition: 0.2s;
    width: 70dvw;
    padding: 10px;
    flex-flow: row;
}

label {
    padding-top: 1dvh;
    padding-bottom: 1dvh;
}

.timingA {
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 242, 255, 0.493);
    color: white;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
    width: 68dvw;
    height: 30dvh;
    flex-flow: row;
    margin: 0%
}

#once {
    border-right: 1px solid rgba(0, 242, 255, 0.493);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 20dvh;
    padding: 2dvh;
}

#repeating {
    display: flex;
    flex-flow: column;
    padding-inline: 2dvh;
}

#checkonce {
    position: relative;
    bottom: 11dvh;

}

#checkrep {
    position: relative;
    bottom: 11dvh;
}

.dropdown {
    width: 10dvw;
    height: 4dvh
}

.container {
    position: relative;
    bottom: 2dvh;
    color: white;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
    width: 70dvw;
    height: 90%;
}

.innercontainer {
    color: white;
    padding: 10px;
    transition: 0.2s;
    height: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.back {
    height: 77dvh;
    bottom: 12dvh;
}


#submitA {
    position: absolute;
    right: 2dvh;
    top: 33dvh;
    height: 30px;
}

input.innersubmitA {
    height: 40px;
    width: 80px;
    text-align: center;
    transition: 0.2s;
}

input.innersubmitA:hover {
    cursor: pointer;
    transition: 0.2s;
}

#submitG {
    position: absolute;
    right: 2dvh;
    top: 50dvh;
}

.addbtn {
    background-color: inherit;
    color: white;
    border: 2px outset rgba(0, 242, 255, 0.493);
    width: 13dvh;
    height: 35px;
    cursor: pointer;
}

.addbtn:hover {
    background-color: rgb(45, 43, 56);
    transition: 0.2s;
}



