
td{
    border:  1px solid orange;
    
    border-collapse: collapse;
}

table{
    position: absolute;
    border: 1px solid orange;
    border-collapse: collapse;
    top: 20dvh;
    left: 1dvw;
    width: 70dvw;
    height: 60dvh;
}


.logSpace{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Monday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Tuesday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Wednesday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Thursday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Friday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}

#weekBtn{
    position: absolute;
    top: 15dvh;
    left: 1dvw;
}