
td{
    border:  1px solid orange;
    
    border-collapse: collapse;
}

table{
    position: absolute;
    border: 1px solid orange;
    border-collapse: collapse;
    top: 15dvh;
    left: 1dvw;
    width: 70dvw;
    height: 40dvh;
}


.logSpace{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Monday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Tuesday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Wednesday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Thursday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}
.Friday{
    background-color: inherit;
    height: 9dvh;
    width: 20dvw;
}

#weekBtn{
    position: absolute;
    top: 10dvh;
    left: 1dvw;
}

.addbtnlog{
    background-color: inherit;
    color: white;
    border: 2px outset orange;
    width: 20dvh;
    height: 4dvh;
}

.logContainer {
    position: relative;
    border: 1px solid orange;
    color: white;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
    background-color: rgb(37, 35, 46);
    width: 70dvw;
    height: 72dvh;
}

.logInnercontainer {
    border-bottom: 1px solid orange;
    color: white;
    padding: 1dvh;
    transition: 0.2s;
    background-color: rgb(37, 35, 46);
    height: 4dvh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.logBack {
    position: relative;
    bottom: 12dvh;
    background: rgb(219, 151, 0);
    background: linear-gradient(146deg, rgba(219, 151, 0, 1) 0%, rgba(37, 35, 46, 1) 55%);
    height: 78dvh;
    width: 100%;
    
}