body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 35, 46);
    color: white;
    height: 100%;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.transform {
    transform: translate(-50%,-50%);
}

.border {
    border: solid 2px rgb(23, 22, 29);
}

.textaligncenter {
    text-align: center;
}

.wrapper {
    background: rgb(219,151,0);
background: linear-gradient(146deg, rgba(219,151,0,1) 0%, rgba(15,40,62,1) 55%);
    overflow: hidden;
    height: 700px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.innerWrapper {
    width: 100%;
    top: 40%;
    position: absolute;
    left: 50%;
}