body {
    background-color: rgb(37, 35, 46);
    color: rgb(255, 163, 43);
    height: 100%;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.transform {
    transform: translate(-50%,-50%);
}