div.dashbutton {
    text-align: center;
    font-size: small;
    padding: 12px;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: inherit;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;

}

div.dashbutton:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

