input.login {
    background-color: inherit;
    border: 1px solid orange;
    color: white;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
}

input::placeholder {
    color: white;
}

input.login:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

input:hover::placeholder {
    color: rgb(37, 35, 46);
}

button.login {
    margin-top: 15px;
    border-radius: 10lh;
    width: 60%;
    color: white;
    background-color: rgb(51, 48, 63);
    border: inherit;
    padding: 10px;
    transition: 0.2s;
}

button.login:hover {
    cursor: pointer;
    background-color: rgb(173, 113, 0);
    color: white;
    transition: 0.2s;
}

button.signUp {
    padding: 5px;
    background-color: inherit;
    border: inherit;
    color: white;
    text-transform: uppercase;
    transition: 0.2s;
}

button.signUp:hover {
    cursor: pointer;
    background-color: rgb(24, 22, 29);
    color: white;
    transition: 0.2s;
}

.signuptextlocation {
    position: absolute;
    left: 50%;
    bottom: 3%;
}

p.forgotPW {
    position: absolute;
    left: 60%;
    top: 53%;
    font-size: x-small;
    transition: 0.2s;
}

p.forgotPW:hover {
    cursor: pointer;
    color: gray;
    transition: 0.2s;
}

.signuplocation {
    position: absolute;
    left: 50%;
    bottom: -1%;
}

#loginimg {
    opacity: 10%;
}