.signUpWrapper {
    background-color: rgb(37, 35, 46);
    overflow: hidden;
    height: 700px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.innersignUpWrapper {
    border: 1px solid orange;
    background: rgb(219,151,0);
    background: linear-gradient(146deg, rgba(219,151,0,1) 0%, rgba(37,35,46,1) 55%);
    height: 400px;
    width: 70%;
    top: 40%;
    position: absolute;
    left: 50%;
}